/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
/** || Universal */
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--ff-general) !important;
    color: var(--clr-font);
}

/** || Body */
body {
    background-color: var(--clr-primary);
}

/** || headings */
h1,
h2,
h3 {
    font-weight: var(--fw-bold);
}

h1 {
    font-size: var(--fs-small-20);
}

h2 {
    font-size: var(--fs-small-18);
}

h3 {
    font-size: var(--fs-small-16);
}

/** || paragraph */
.short-copy {
    font-weight: var(--fw-bold);
    font-size: var(--fs-small-10);
}

/** || links' style */
/** unvisited link */
.card:link .short-copy {
    color: var(--clr-font);
}

/** visited link */
.card:link .short-copy:visited {
    color: var(--clr-font);
}

/** mouse over link */
.card:hover .short-copy {
    color: var(--clr-free);
}

/** selected link */
.card:active .short-copy {
    color: var(--clr-free);
}

/** || span */
.shrink {
    color: var(clr-new);
}

/** || Sections' style */
section {
    margin: 0 5.660%;
    margin-bottom: 55px;
}

/** || views' style */
.view {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.view>svg {
    margin-right: 5px;
}

.view>p {
    font-size: var(--fs-small-10);
}

/** || header */
header {
    margin: 0 5.660%;
    margin-top: 22px;
    margin-bottom: 20px;
}

/** || video Section */
.video {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
}

.video>* {
    grid-column: 1/5;
}

.video>iframe {
    width: 100%;
}

.video>h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 120%;
}

.view {
    font-size: var(--fs-small-10);
    margin-bottom: 10px;
}

.desc {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    margin-bottom: 20px;
    line-height: 130%;
}

.add-btn {
    margin-bottom: 30px;
}

.add-btn button[type="submit"] {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: 0;
}

button[type="submit"]>svg {
    margin-right: 5px;
}

.comment {
    margin-top: 8px;
    display: grid;
    grid-template-columns: max-content 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
}

.comment>img {
    width: 20px;
    clip-path: circle();
}

.comment>form {
    grid-column: 2/5;
    display: grid;
}

.comment>form>input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--clr-border);
}

.btn-group {
    display: none;
    margin-top: 10px;
    justify-self: end;
}

.btn-group>button:first-child {
    margin-right: 10px;
}

button[type="button"] {
    font-size: var(--fs-small-13);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid var(--clr-border);
    background-color: var(--clr-secondary);
    cursor: pointer;
}

button[type="submit"] {
    font-size: var(--fs-small-13);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--clr-button);
    border: 2px solid var(--clr-button-border);
    cursor: pointer;
    color: var(--clr-btn-font);
}

.list-comment {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: scroll;
}

.comment-group {
    display: grid;
    grid-template-columns: max-content 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    margin-bottom: 10px;
}

.comment-group>img {
    width: 20px;
    clip-path: circle();
}

.data {
    grid-column: 2/5;
}

.data>p:first-child {
    font-size: var(--fs-small-11);
    margin-bottom: 5px;
}

.data>p:first-child>span {
    font-size: var(--fs-small-10);
    color: var(--clr-new);
}

.data>p:last-child {
    font-size: var(--fs-small-12);
}

/** || next-video Section */
.next-video>.swiper {
    position: relative;
    padding-bottom: 20px;
}

.swiper-pagination {
    position: absolute;
    top: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row>a {
    width: 48%;
}

.row .card {
    width: 100%;
}

.next-video>h2 {
    margin-bottom: 20px;
}

.next-video .card {
    display: flex;
    flex-direction: column;
}

.row img {
    width: 100%;
    margin-bottom: 10px;
}

.content>h3 {
    margin-bottom: 5px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 25px;
    color: var(--clr-border);
}

/** || Media Queries */
@media (min-width: 0) {

    /** || next-video Section */
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

@media (min-width:400px) {
    .video>iframe {
        height: 250px;
    }
}

@media (min-width:470px) {
    .video>iframe {
        height: 280px;
    }
}

@media (min-width:600px) {
    .video>iframe {
        height: 300px;
    }
}

@media (min-width:576px) {

    /** || header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header>p {
        font-weight: var(--fw-regular);
        font-size: var(--fs-medium-12);
    }

    header>p>span::after {
        content: '/';
        display: inline-block;
        margin: 0 5px;
    }

    header>p>span>a {
        color: var(--clr-new);
    }

    header>p>span>a:link,
    header>p>span>a:visited {
        color: var(--clr-new);
    }

    header>p>span>a:hover,
    header>p>span>a:active {
        color: var(--clr-font);
    }

    /** || next-video Section */
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}

@media (min-width:700px) {

    /** || video Section */
    .video>iframe {
        height: 330px;
    }
}
@media (min-width: 768px){
    .next-video img{
        height: 100px;
    }
}
@media (min-width:1000px) {
    /** || video Section */
    h2{
        font-size: var(--fs-medium-22);
    }

    .view {
        font-size: var(--fs-medium-12);
    }

    .comment{
        align-items: center;
    }

    .comment>img{
        width: 30px;
    }

    .comment-group{
        align-items: center;
    }

    .comment-group>img {
        width: 30px;
    }
    
    .data>p:first-child {
        font-size: var(--fs-medium-12);
    }
    
    .data>p:last-child {
        font-size: var(--fs-medium-14);
    }
}